.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}

.subtext {
    font-size: 22px;
    padding-bottom: 20px;
}

.searchBar {
    border: 2px solid black;
    border-radius: 20px;
    width: 500px;
    height: 40px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.submit {
    width: 100px;
    height: 40px;
    background-color: #ee9626;
    margin-left: 10px;
    border-radius: 5px;
}

.searchFunction {
    display: flex;
    align-items: center;
    justify-self: center;
}