
.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}

.subtext {
    font-size: 22px;
    padding-bottom: 20px;
}