.container {
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ee9626;
    margin-top: 30px;
    margin-left: 20px;
}

.branding {
    display: flex;
    flex-direction: row;
    margin-right: 1000px;

}